.dropbox {
    display: flex;
    align-items: center;
    justify-content: center;
  
   
    border: 2px dashed #3373d3;
    border-radius: 10px;
}

.text{
    font-size: medium;
    font-weight: bold;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    height: 340px;
}

.center-clm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}